<header>
    <div class="inner">
        <a href="/"><h1>Sneezry</h1></a>
        <span class="searchbar">
            <form onsubmit="event.preventDefault(); window.open('https://www.google.com/search?q=site:sneezry.com%20' + encodeURIComponent(document.getElementById('searchbar').value) + '&gws_rd=ssl', '_blank'); return false">
                <input type="text" id="searchbar">
            </form>
        </span>
        <a id="rsshover" href="{{site.url}}/feed.xml" target="_blank">
            <span id="rss">RSS</span>
        </a>
    </div>
</header>
